<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="inicio">Centro LEO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" (click)="login()">Iniciar Sesión</a>
              </li>
          </ul>
      </form>
  </div>
</nav>

<div id="fondo">
  <div class="centrar" id="contenido">
  <h1>Centro LEO</h1>
  <img src="/assets/img/logo-icesi.png" />
</div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-s6">
        <br/>
        <img src="/assets/img/logo-icesi.png" />
        <p>Centro LEO</p>
        <p>
          <i class="fas fa-phone"></i>+57 (2) 555 2334 +57 (2) 555 1441
        </p>
        <p>Universidad Icesi, Calle 18 No. 122-135 Pance, Cali - Colombia</p>
        <p>Biblioteca Universidad Icesi - Cali</p>
        <p>Todos los derechos reservados. Imágenes propiedad de la Universidad Icesi</p>
      </div>
    </div>
  </div>
</footer>