<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="inicio">Centro LEO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" style="cursor:pointer;">Cerrar Sesión</a>
        </li>
      </ul>
    </form>
  </div>
</nav>

<div class="row">

  <div class="col-sm-3" id="menu">

    <img src="/../assets/img/foto.png" height="200" style="background: gainsboro; border: none; padding-left: 20%;padding-top: 5%;">
    <br/>
    <br/>

    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" *ngIf="usuario.tipo_usuario_id===2">
      <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true" (click)="seguimiento()" style="cursor:pointer;">Seguimiento de Tutoría</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
        aria-selected="false" (click)="observaciones()" style="cursor:pointer;">Observaciones de Tutoría</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
        aria-selected="false" (click)="adicionarMateria()" style="cursor:pointer;">Adicionar una Materia</a>
      <a class="nav-link active" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
        aria-selected="false" (click)="registrarEstudiante()" style="cursor:pointer;">Registrar un estudiante</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
        aria-selected="false" (click)="registrarTutor()" style="cursor:pointer;">Registrar un tutor</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
        aria-selected="false" (click)="reportes()" style="cursor:pointer;">Reportes</a>
    </div>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" *ngIf="usuario.tipo_usuario_id===1">
      <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true" (click)="seguimiento()" style="cursor:pointer;">Seguimiento de Tutoría</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
        aria-selected="false" (click)="observaciones()" style="cursor:pointer;">Observaciones de Tutoría</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
        aria-selected="false" (click)="adicionarMateria()" style="cursor:pointer;">Adicionar una Materia</a>
      <a class="nav-link active" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
        aria-selected="false" (click)="registrarEstudiante()" style="cursor:pointer;">Registrar un estudiante</a>
    </div>
  </div>

  <div class="col-sm-9" id="cuerpo">
    <div class="col-sm-9" style="padding: 0%; margin: 0%;">
      <img src="/../assets/img/library-banner.jpg" height="165" width="1019" />
    </div>
    <br/>
    <form id="formulario" (ngSubmit)="addEstudiante()">
      <div class="col-sm-12">
        <h2>Registro de estudiantes</h2>
        <h3>Centro LEO</h3>
        <br/>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Nombre del estudiante" name="nombre" [(ngModel)]="estudiante.nombre">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Código del estudiante" name="codigo" [(ngModel)]="estudiante.codigo">
          </div>
          <div class="col-sm-6">
            <br/>
            <input type="text" class="form-control" placeholder="Correo electrónico del estudiante" name="correo" [(ngModel)]="estudiante.correo">
          </div>
          <div class="col-sm-6">
            <br/>
            <div class="form-group">
              <select class="form-control" name="semestre" [(ngModel)]="estudiante.semestre">
                <option>Semestre</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-control" name="carrera" [(ngModel)]="estudiante.carrera">
                <option>Programa Académico</option>
                <option>Administración de Empresas</option>
                <option>Contaduría Publica y Finanzas Internacionales</option>
                <option>Economía</option>
                <option>Economía y Negocios Internacionales</option>
                <option>Mercadeo Internacinal y Publicidad</option>
                <option>Diseño Industrial</option>
                <option>Diseño de Medios Interactivos</option>
                <option>Ingeniería de Sistemas</option>
                <option>Ingeniería Industrial</option>
                <option>Ingeniería Telemática</option>
                <option>Ingeniería Bioquímica</option>
                <option>Ciencia Política con énfasis en Relaciones Internacionales</option>
                <option>Derecho</option>
                <option>Psicología</option>
                <option>Música</option>
                <option>Sociología</option>
                <option>Biología</option>
                <option>Química</option>
                <option>Medicina</option>
                <option>Licenciatura en Educación Basica Primaria</option>
                <option>Licenciatura en Literatura y Lengua Castellana</option>
                <option>Licenciatura en Artes con énfasis en tecnologías para la creación</option>
                <option>Licenciatura en Lenguas Extrangeras con énfasis en inglés</option>
                <option>Licenciatura en Ciencias Naturales</option>
                <option>Licenciatura en Ciencias Sociales</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 centrar">
            <button type="submit" class="btn btn-outline-success boton">Registrar estudiante</button>
          </div>
        </div>
        <br/>
      </div>
    </form>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-s6">
        <br/>
        <img src="/assets/img/logo-icesi.png" />
        <p>Centro LEO</p>
        <p>
          <i class="fas fa-phone"></i>+57 (2) 555 2334 +57 (2) 555 1441
        </p>
        <p>Universidad Icesi, Calle 18 No. 122-135 Pance, Cali - Colombia</p>
        <p>Biblioteca Universidad Icesi - Cali</p>
        <p>Todos los derechos reservados. Imágenes propiedad de la Universidad Icesi</p>
      </div>
    </div>
  </div>
</footer>