    <div class="container w-100">
            <div class="mx-auto w-100">
                <table class="table table-responsive table-condensed">
                    <tr>
                      <th *ngFor="let label of observacionesLabels">{{label}}</th>
                    </tr>
                    <tr *ngFor="let d of lineChartData">
                      <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                    </tr>
                  </table>
                  <button (click)="randomize()">CLICK</button>
            </div>
    </div>
    <div class="row">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    
