<div class="row">

  <div class="col-sm-3" id="menu">

    <img src="/../assets/img/foto.png"  height="200"  style="background: gainsboro; border: none; padding-left: 20%;padding-top: 5%;">
    <br/><br/>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
        aria-selected="true">Seguimiento de Tutoría</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
        aria-selected="false">Observaciones de Tutoría</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
        aria-selected="false">Reportes de Desempeño</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
        aria-selected="false">Reportes de Asistencia</a>
    </div>
  </div>

  <div class="col-sm-9" id="cuerpo">
    <div class="col-sm-9" style="padding: 0%; margin: 0%;">
      <img src="/../assets/img/banner.jpg" height="165" width="1019" />
    </div>
    <br/>
    <form id="formulario" (ngSubmit)="addMateria()">
      <div class="col-sm-12">
        <div class="row">
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Nombre de la materia" name="nombre" [(ngModel)]="materia.nombre" >
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" name="tipoCurso" [(ngModel)]="materia.tipoCurso">
              <option>Tipo de curso</option>
              <option>Curso E</option>
              <option>Curso O</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-outline-success boton">Crear materia</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-outline-danger boton">Cancelar</button>
        </div>
    </div>
    <br/>
  </div>
    </form>
</div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-s6">
        <br/>
        <img src="/assets/img/logo-icesi.png" />
        <p>Centro LEO</p>
        <p>
          <i class="fas fa-phone"></i>+57 (2) 555 2334 +57 (2) 555 1441
        </p>
        <p>Universidad Icesi, Calle 18 No. 122-135 Pance, Cali - Colombia</p>
        <p>Biblioteca Universidad Icesi - Cali</p>
        <p>Todos los derechos reservados. Imágenes propiedad de la Universidad Icesi</p>
      </div>
    </div>
  </div>
</footer>