<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="inicio">Centro LEO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link"  (click)="logout()" style="cursor:pointer;" >Cerrar Sesión</a>
                </li>
          </ul>
      </form>
  </div>
</nav>
<div class="row">

  <div class="col-sm-3" id="menu">
    <img src="/../assets/img/foto.png" class="img-fluid" alt="Responsive image" height="200" style="background: gainsboro; border: none; padding-left: 15%;padding-top: 5%; padding-right: 15%; ">
    <br/>
    <br/>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" *ngIf="usuario.tipo_usuario_id===2">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
          aria-selected="true" (click)="seguimiento()" style="cursor:pointer;" >Seguimiento de Tutoría</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
          aria-selected="false" (click)="observaciones()" style="cursor:pointer;" >Observaciones de Tutoría</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
          aria-selected="false" (click)="adicionarMateria()" style="cursor:pointer;">Adicionar una Materia</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
          aria-selected="false" (click)="registrarEstudiante()" style="cursor:pointer;" >Registrar un estudiante</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
          aria-selected="false" (click)="registrarTutor()" style="cursor:pointer;">Registrar un tutor</a>
         <a class="nav-link active" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
          aria-selected="false" (click)="reportes()" style="cursor:pointer;">Reportes</a>
      </div>

  </div>

  <div class="col-sm-9" id="cuerpo">
    <div class="col-sm-9" style="padding: 0%; margin: 0%;">
      <img src="/../assets/img/library-banner.jpg" height="165" width="1019" />
    </div>
    <br/>
    <div class="container">
      <h2>Usuarios Principales</h2>
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let columnas of labelTablaTutores">{{columnas}}</th>
        </tr>
        <tr *ngFor="let dato of tutores">
          <td>{{dato.usuario.codigo}}</td>
          <td>{{dato.usuario.nombre}}</td>
          <td>{{dato.usuario.carrera}}</td>
          <td>{{dato.usuario.correo}}</td>
          <td>{{dato.usuario.semestre}}</td>
          <td>{{dato.tipo}}</td>
        </tr>
      </table>
      <br/>
  
      <h2>Materias</h2>
      <div id="tabla" >
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let columnas of tablaMaterias">{{columnas}}</th>
        </tr>
        <tr *ngFor="let dato of materias">
          <td>{{dato.nombre}}</td>
          <td>{{dato.tipoCurso}}</td>
        </tr>
      </table>
    </div>
    </div>
      
      <div class="col-sm-12">
          <app-grafico-dona></app-grafico-dona>
        </div>
       <!-- <div class="col-sm-12">
            <app-grafico-linea></app-grafico-linea>
          </div> -->
    <br/>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-s6">
        <br/>
        <img src="/assets/img/logo-icesi.png" />
        <p>Centro LEO</p>
        <p>
          <i class="fas fa-phone"></i>+57 (2) 555 2334 +57 (2) 555 1441
        </p>
        <p>Universidad Icesi, Calle 18 No. 122-135 Pance, Cali - Colombia</p>
        <p>Biblioteca Universidad Icesi - Cali</p>
        <p>Todos los derechos reservados. Imágenes propiedad de la Universidad Icesi</p>
      </div>
    </div>
  </div>
</footer>